h1, h2, h3, h4, li{
    color: #48ff00;
    font-size: 40px;
    font-family: fantasy;
  }
  p {
    color: #00ffdd;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  img {height: 50px;
  width: 70px;
  }
.selected{
  color: tomato;
}
.header{
  background-color: aquamarine;
  color: blue;
  height: 90px;
}
li {
  list-style: none;
  float: left;
}
.header-logo {
  float: left;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
